body {
  font-size: 1rem;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  text-align: left;
}

button {
  -webkit-appearance: none;
  border: 2px solid #dddddd;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  margin: 5px;
  text-align: center;
}

button:hover {
  background-color: #fff;
  cursor: pointer;
}